mixin form-line(obj)
	- const { type = '', hu = '', demin = '', stackable = 'Yes', descrip = '', classId = 1, pieces = 1, weight = '', hazmat = false, typeLine = 'info' } = obj;

	if (typeLine === 'info')
		.form__line.form__line--info
			.form__col.form__col--body(data-title="Handling Unit Type (H/U)")
				span.form__value
					!=type
			.form__col.form__col--body(data-title="# of H/U")
				span.form__value
					!=hu
			.form__col.form__col--body(data-title="H/U Dimensions")
				span.form__value
					!=demin
			.form__col.form__col--body(data-title="Stackable")
				span.form__value
					!=stackable
			.form__col.form__col--body(data-title="Commodity Descriprion")
				label.form__label.form__label--search.form__label--field
					input.form__input(type="search" placeholder="Commodity Descriprion" value=descrip)
					button.form__btn.form__btn--search
						svg.icon.icon--loupe
							use.icon__item(xlink:href='#loupe')
			.form__col.form__col--body(data-title="NMFC")
				label.form__label.form__label--field
					input.form__input(type="text" placeholder="NMFC")
			.form__col.form__col--body(data-title="Class")
				span.form__value
					!=classId
			.form__col.form__col--body(data-title="# of Pieces")
				span.form__value
					!=pieces
			.form__col.form__col--body(data-title="Total Weight")
				span.form__value
					!=weight
			.form__col.form__col--body(data-title="HazMat")
				label.form__label.form__label--checkbox.form__label--field
					if (hazmat)
						input.form__input.form__input--checkbox(type="checkbox" checked)
					else
						input.form__input.form__input--checkbox(type="checkbox")
					small.form__cell.form__cell--hazmat
	else
		.form__line.form__line--add
			.form__col.form__col--body.form__col--indent
			.form__col.form__col--body.form__col--indent
			.form__col.form__col--body.form__col--indent
			.form__col.form__col--body.form__col--indent
			.form__subline
				.form__select.form__select--add.form__select--small
					.form__select-header
						.form__selected
							| UN
						svg.icon.icon--triangle
							use.icon__item(xlink:href='#triangle')
					ul.form__list
						
						- for (let i = 0; i < 4; i++)
							li.form__item(data-value=(i + 1))
								!=(i + 1)
				
				.form__field.form__field--add.form__field--small
					label.form__label
						input.form__input.form__input--add(type="text" placeholder="UN Number")
				.form__field.form__field--add.form__field--large
					label.form__label
						input.form__input.form__input--add(type="text" placeholder="Proper Shipping Name")
				.form__field.form__field--add.form__field--large.form__field--haz
					label.form__label.form__label--haz
						input.form__input.form__input--add(type="text" placeholder="Hazard Class")
					button.form__btn.form__btn--info(type="button")
						| ?
				
				.form__select.form__select--add.form__select--large.form__select--pgroup
					.form__select-header
						.form__selected
							| Packing Group
						svg.icon.icon--triangle
							use.icon__item(xlink:href='#triangle')
					ul.form__list
						
						- for (let i = 0; i < 4; i++)
							li.form__item(data-value=`Group ${i + 1}`)
								| Group #{i + 1}
			
				.form__select.form__select--add.form__select--large
					.form__select-header
						.form__selected
							| Packing Type
						svg.icon.icon--triangle
							use.icon__item(xlink:href='#triangle')
					ul.form__list
						
						- for (let i = 0; i < 4; i++)
							li.form__item(data-value=`Type ${i + 1}`)
								| Type #{i + 1}
						
