mixin picture(pictureClass, imgClass)
	picture.img(class=`img--${pictureClass}`)
		source.img__item(srcset=`img/${imgClass}.webp` type="image/webp")
		source.img__item(srcset=`img/${imgClass}.jp2` type="image/jp2")
		img.img__item(src=`img/${imgClass}.png` alt=imgClass)
